<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=U">
    <title>Upload Document</title>
    <link rel="stylesheet" href="css/document.css">
<script>
    window.onload= function (){
    var name="Priyanshu";
    document.getElementById('p1').innerText=name;
   }
   fun();
</script>

</head>


<body>
    <img src="images/logobar.png" alt="" srcset="" style="width: 100%; height: 10%;">
    <marquee behavior="alternate" direction="left" scrollamount="40" style="font-size: 50px; color: white; font-family: cursive;">Pager Drive</marquee>

    <form action="" method="post" class="form">
      
        <p id="p1" style="color:black; font-size: 50px;" class="mc"></p>
        <input type="file" name="file" id="file" class="bc">
        <input type="submit" value="Upload" id="submit">
       
    </form>
</body>

</html>