<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/error.css">
    
    </head>
    <body>
        <body>
        <div class="container">
            <form class="box">
                <h3>Error!!!</h3>
                <br>
                <i><b>{{error}}</b></i>
               
                <form method="{{method}}" action="{{link}}"><br>
                 <p>


                 </p>
                 {{!-- <button class="button" onclick="history.back()">Go Back</button> --}}
              
                   <input type="button" value="Go Back" class="button" onclick="history.back()">
              
                </form>
                </form>
        </div>
        
    </body>
    </body>
</html>