<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/every.css">
    </head>
    <body>
        <body>
        <div class="container">
       
                <h3>Error</h3>
                <br>
                <i><b>{{error}}</b></i>
               
                <form method="{{method}}" action="{{link}}">
                 <button>Go Back</button>
                </form>
                
        </div>
        
    </body>
    </body>
</html>