<html>
    <body>
        <h3>Name: {{Name}}</h3>
        <h3>Token: {{Tokenid}}</h3>
        <h3>Digital Signature: {{digSig}}</h3>
        <h3>Document is verified using public key</h3>
    </body>
</html>