<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َPager-Login</title>
    <link rel="stylesheet" href="./css/LoginPage.css">
    <link rel="icon" href="./images/logo.jpeg">
  </head>
  <body>

<form class="box" action="validate" method="post">
  <h1>Login</h1>
  <input type="text" name="username" placeholder="Username" id="username" @required>
  <input type="password" name="pass" placeholder="Password" id="password" @required>
  <input type="submit" name="" value="Login">
  <a href="signup.html"><p class="account">Create new account?</p></a>
</form>


  </body>
</html>
