<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>َSign-Up</title>
  <link rel="stylesheet" href="./css/signup.css">
  <link rel="icon" href="./images/logo.jpeg">
</head>

<body>

  <form class="box" action="signup" method="post" class="form" onsubmit="return Validatejs()">
    <a href="../"><img src="images/logo.jpeg" alt="" srcset="" height="85px" width="130px"></a>

    <h1>Sign-Up</h1>
    <input type="text" name="first_name" placeholder="First Name" id="firstname" @required>
    <div id='signup_firstname'></div>
    <div id="first_error"></div>
    <input type="text" name="last_name" placeholder="Last Name" id="lastname" @required>
    <div id='signup_lastname'></div>
    <div id="lastname_error"></div>
    <input type="text" name="phone_number" placeholder="Phone Number" id="phone" maxlength="10" @required>
    <div id='signup_phone'></div>
    <div id="phone_error"></div>
    <input type="text" name="date" placeholder="D.O.B." id="dob" onfocus="(this.type='date')" @required>
    <div id='signup_dob'></div>
    <div id="dob_error"></div>
    <input type="email" name="email" placeholder="E-mail" id="email" @required>
    <div id='signup_email'></div>
    <div id="email_error"></div>
    <input type="password" name="pass" placeholder="Password" id="password" @required>
    <div id='signup_password'></div>
    <div id="password_error"></div>
    <input type="submit" name="" value="Sign-Up">
    <a href="LoginPage.html">
      <p class="account">Login to existing account?</p>
    </a>
  </form>
</body>
<script>
  function Validatejs() {
    var fname = document.getElementById("firstname").value;
    var email = document.getElementById("email").value;
    var lname = document.getElementById("lastname").value;
    var dob = document.getElementById("dob").value;
    var phone = document.getElementById("phone").value
    var password = document.getElementById("password").value;
    if (fname == "" && lname == "" && phone == "") {
      document.getElementById("signup_firstname").innerHTML = "First Name is Required";
      document.getElementById("signup_firstname").style.color = "Red";
      document.getElementById("signup_lastname").innerHTML = "Last Name is Required";
      document.getElementById("signup_lastname").style.color = "Red";
      document.getElementById("signup_phone").innerHTML = "Phone No is Required";
      document.getElementById("signup_phone").style.color = "Red";
      document.getElementById("signup_dob").innerHTML = "D.O.B. is Required";
      document.getElementById("signup_dob").style.color = "Red";
      document.getElementById("signup_email").innerHTML = "Email is Required";
      document.getElementById("signup_email").style.color = "Red";
      document.getElementById("signup_password").innerHTML = "Password is Required";
      document.getElementById("signup_password").style.color = "Red";
      // firstname.style.border="1px solid red";
      // lastname.style.border="1px solid red";
      // phone.style.border="1px solid red";
      // dob.style.border="1px solid red";
      // email.style.border="1px solid red";
      // password.style.border="1px solid red";

      return false;
    }
    if (fname == "") {
      document.getElementById("signup_firstname").innerHTML = "First Name is Required";
      document.getElementById("signup_firstname").style.color = "Red";
      firstname.style.border = "1px solid red";
      return false;
    }
    else {
      document.getElementById("signup_firstname").innerHTML = "";

    }
    if (lname == "") {
      document.getElementById("signup_lastname").innerHTML = "Last Name is Required";
      document.getElementById("signup_lastname").style.color = "Red";
      lastname.style.border = "1px solid red";
      return false;

    }
    if (phone == "") {
      document.getElementById("signup_phone").innerHTML = "Phone No is Required";
      document.getElementById("signup_phone").style.color = "Red";
      phone.style.border = "1px solid red";
      return false;

    }
    if (dob == "") {
      document.getElementById("signup_dob").innerHTML = "D.O.B. is Required";
      document.getElementById("signup_dob").style.color = "Red";
      dob.style.border = "1px solid red";
      return false;

    }
    if (email == "") {
      document.getElementById("signup_email").innerHTML = "Email is Required";
      document.getElementById("signup_email").style.color = "Red";
      email.style.border = "1px solid red";
      return false;

    }
    if (password == "") {
      document.getElementById("signup_pssword").style.color = "Red";
      document.getElementById("signup_pssword").innerHTML = "Password is Required";
      password.style.border = "1px solid red";
      return false;

    }
    for (let i = 0; i < phone.length; i++) {
      if (phone.charAt(i) < '0' || phone.charAt(i) > '9') {
        document.getElementById("signup_phone").innerHTML = "Invalid Phone No";
        document.getElementById("signup_phone").style.color = "Red";
        phone.style.border = "1px solid red";
        return false;
      }

    }

  }



</script>





</html>