<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َSign-Up</title>
    <link rel="stylesheet" href="./css/signup.css">
    <link rel="icon" href="./images/logo.jpeg">
  </head>
  <body>

<form class="box" action="signup" method="post" class="form">
    <a href="../"><img src="images/logo.jpeg" alt="" srcset="" height="85px" width="130px"></a>
  
    <h1>Sign-Up</h1>
  <input type="text" name="first_name" placeholder="First Name" id="username" @required>
  <input type="text" name="last_name" placeholder="Last Name" id="lastname" @required>
  <input type="text" name="phone_number" placeholder="Phone Number" id="phone" maxlength="10" @required>
  <input type="text" name="date" placeholder="D.O.B." id="dob" onfocus="(this.type='date')" @required>
  <input type="email" name="email" placeholder="E-mail" id="email" @required>
  <input type="password" name="pass" placeholder="Password" id="password" @required>
  <input type="submit" name="" value="Sign-Up">
  <a href="LoginPage.html"><p class="account">Login to existing account?</p></a>
</form>


  </body>
</html>
