<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>َSign-Up</title>
  <link rel="stylesheet" href="./css/signup.css">
  <link rel="icon" href="./images/logo.jpeg">
</head>

<body>

  <form class="box" action="signup" method="post" class="form">
    <a href="../"><img src="images/logo.jpeg" alt="" srcset="" height="85px" width="130px"></a>

    <h1>Sign-Up</h1>
    <input type="text" name="first_name" placeholder="First Name" id="username" @required>
    <input type="text" name="last_name" placeholder="Last Name" id="lastname" @required>
    <input type="text" name="phone_number" placeholder="Phone Number" id="phone" maxlength="10" @required>
    <input type="text" name="date" placeholder="D.O.B." id="dob" onfocus="(this.type='date')" @required>
    <input type="email" name="email" placeholder="E-mail" id="email" @required>
    <input type="password" name="pass" placeholder="Password" id="password" @required>
    <input type="submit" name="" value="Sign-Up">
    <a href="LoginPage.html">
      <p class="account">Login to existing account?</p>
    </a>
  </form>


</body>

<script>
  var username = document.forms["form"]["username"];
  var username = document.forms["form"]["username"];
  var username = document.forms["form"]["username"];
  var username = document.forms["form"]["username"];
  var username = document.forms["form"]["username"];
  var password = document.forms["form"]["password"];
  console.log(username + password);
  var name_error = document.getElementById("username");
  var password_error = document.getElementById("password");

  username.addEventListener("blur", nameVerify, true);
  password.addEventListener("blur", passwordVerify, true);
  function Validate() {
    if (username.value == "" && password.value == "") {
      username.style.border = "1px solid red";
      document.getElementById("login_username").innerHTML = "Username is Required";
      document.getElementById("login_username").style.color = "red";
      name_error.textContent = "Username is required";
      username.focus();
      password.style.border = "1px solid red";
      document.getElementById("login_pass").innerHTML = "Password is Required";
      document.getElementById("login_pass").style.color = "red";
      password_error.textContent = "Password is required";
      password.focus();
      return false;

    }
    if (username.value == "") {
      username.style.border = "1px solid red";
      document.getElementById("login_username").innerHTML = "Username is Required";
      document.getElementById("login_username").style.color = "red";
      name_error.textContent = "Username is required";
      username.focus();
      return false;
    }
    else {

      document.getElementById("login_username").innerHTML = "";
    }
    if (password.value == "") {
      password.style.border = "1px solid red";
      document.getElementById("login_pass").innerHTML = "Password is Required";
      document.getElementById("login_pass").style.color = "red";
      password_error.textContent = "Password is required";
      password.focus();
      return false;
    }

    else {

      document.getElementById("login_username").innerHTML = "";
    }
  }
  function nameVerify() {
    if (username.value != "") {
      username.style.border = "1px solid red";
      document.getElementById('login_username').style.color = "#5e6e66";

      name_error.innerHTML = "Enter Username";
      return true;
    }
  }
  function passwordVerify() {
    if (password.value != "") {
      password.style.border = "1px solid red";
      password_error.innerHTML = "";
      return true;
    }
  }
</script>

</html>