<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/error.css">
    </head>
    <body>
        <body>
        <div class="container">
    <form action="" class="box" style="width: 60%;">
                <i><b>SUCCESFULLY SINGED UP<br>Name: {{Name}}</br><p style="background-color: rgb(136, 245, 127); color: black">Your Token id: {{Token}}</p><b></i> 
                <form method="{{method}}" action="{{link}}"><br>
                 <a href="LoginPage.html"><input type="button" value="Login" class="button"></a>
                </form>
                </form>
        </b>
        
    </body>
    </body>
</html>