<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/signup.css">
    </head>
    <body>
        <body>
        <div class="container">
    
                <i><b>SUCCESFULLY SINGED UP<br>Name: {{Name}}</br>Your Token id: {{Token}}<b></i> 
                <form method="{{method}}" action="{{link}}"><br>
                 <button>Go Back</button>
                </form>
                
        </b>
        
    </body>
    </body>
</html>